# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# environment
.env.local
.env*.local

# database
prisma/dev.db
prisma/dev.db-journal

# uploads
uploads/

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# pnpm
.pnpm-build-approval.json
